/* MEDIA QUERIES */
/*responsive design to manage appearance on different devices*/

/*
*
* Medium Viewports
*
*/

@media screen and (min-width: 381px) {
	h1 {
		font-size: 36px;
	}
}

/* Navigation appears and is horizontal */
@media screen and (min-width: 450px) {
	.mini-nav-button {
		display: none;
	}

	.top-nav {
		width: 100%;
		margin: 0 auto;
		z-index: 10;
	    background-color: #fff;
	    position: absolute;
	    /* This transform should bring the drawer on canvas. */
	    -webkit-transform: translate(0, 0);
	    transform: translate(0, 0);
	    /* animate the drawer. */
	    transition: transform 0.3s ease;
	}

	.nav-list {
		width: 100%;
		flex-direction: row;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.nav-item {
		flex: 0 1 150px;
		font-size: 1.6em;
		line-height: 1.6em;
	}
}

@media screen and (min-width: 468px) {
	h1 {
		font-size: 48px;
	}

	svg#logo {
	width: 64px;
	height: 64px;
	}
}

@media screen and (min-width: 550px) {
	.header-content {
		padding-top: 15px;
	}
}

/*
*
* Large Viewports
*
*/

@media screen and (min-width: 600px) {
	.nav-list {
		justify-content: flex-end;
	}

	svg#logo {
		width: 96px;
		height: 96px;
	}
}
